In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/the-toxicity-prediction-challenge/sample_submission.csv
/kaggle/input/the-toxicity-prediction-challenge/feamat.csv
/kaggle/input/the-toxicity-prediction-challenge/features_id_name_mappings.csv
/kaggle/input/the-toxicity-prediction-challenge/train.csv
/kaggle/input/the-toxicity-prediction-challenge/test.csv

In [2]:
import pandas as pd
train_df = pd.read_csv('/kaggle/input/the-toxicity-prediction-challenge/train.csv', sep=',|;')
train_df.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

               Id  Expected
2971-36-0    1644         2
693-54-9     2451         2
7173-51-5    1384         2
138261-41-3    16         2
7681-82-5    1856         2

In [3]:
train_df.reset_index(inplace=True)
train_df = train_df.rename(columns={"index": "V1"})
train_df.head()

            V1    Id  Expected
0    2971-36-0  1644         2
1     693-54-9  2451         2
2    7173-51-5  1384         2
3  138261-41-3    16         2
4    7681-82-5  1856         2

In [4]:
feamat_df = pd.read_csv('/kaggle/input/the-toxicity-prediction-challenge/feamat.csv', sep=';|,')
feamat_df.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V1066,V1067,V1068,V1069,V1070,V1071,V1072,V1073,V1074,V1075
0,60-35-5,178,59.037114,-0.808,43.09,0.0,0.0,0.0,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
1,103-90-2,1983,151.063329,0.870,49.33,0.0,0.0,0.0,0.083333,0.142259,...,0,0,0,0,0,0,0,0,0,0
2,968-81-0,1989,324.114378,2.960,100.72,0.0,0.0,0.0,0.185395,0.161948,...,0,0,0,0,0,0,0,0,0,0
3,520-45-6,122903,168.042259,-0.551,60.44,0.0,0.0,0.0,0.055556,0.198742,...,0,0,0,0,0,0,0,0,0,0
4,50594-66-6,44073,360.996485,4.557,89.67,0.0,0.0,0.0,0.136083,0.276855,...,0,0,0,0,0,0,0,0,0,0

In [5]:
combined_df = train_df.merge(feamat_df, on = ['V1'],how = 'left')
combined_df.head()

,V1,Id,Expected,V2,V3,V4,V5,V6,V7,V8,...,V1066,V1067,V1068,V1069,V1070,V1071,V1072,V1073,V1074,V1075
0,2971-36-0,1644,2,76302,315.982463,4.592,40.46,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
1,693-54-9,2451,2,12741,156.151415,3.852,17.07,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
2,7173-51-5,1384,2,23558,361.347528,9.912,0.00,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
3,138261-41-3,16,2,86418,255.052302,2.294,83.66,0.0,0.0,0.117851,...,0,0,0,0,0,0,0,0,0,0
4,7681-82-5,1856,2,5238,149.894242,1.050,0.00,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0

In [6]:
combined_df = combined_df.replace([np.inf, -np.inf], np.nan)

In [7]:
combined_df.isnull().any().sum()

1

In [8]:
combined_df = combined_df.fillna(0)

In [9]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
feamat_df['V1'] = encoder.fit_transform(feamat_df['V1'])

feamat_df.head() #Results in appending a new column to

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V1066,V1067,V1068,V1069,V1070,V1071,V1072,V1073,V1074,V1075
0,6088,178,59.037114,-0.808,43.09,0.0,0.0,0.0,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
1,246,1983,151.063329,0.870,49.33,0.0,0.0,0.0,0.083333,0.142259,...,0,0,0,0,0,0,0,0,0,0
2,8586,1989,324.114378,2.960,100.72,0.0,0.0,0.0,0.185395,0.161948,...,0,0,0,0,0,0,0,0,0,0
3,5224,122903,168.042259,-0.551,60.44,0.0,0.0,0.0,0.055556,0.198742,...,0,0,0,0,0,0,0,0,0,0
4,5064,44073,360.996485,4.557,89.67,0.0,0.0,0.0,0.136083,0.276855,...,0,0,0,0,0,0,0,0,0,0

In [10]:
combined_df['V1'] = encoder.transform(combined_df['V1'])
combined_df.head()

,V1,Id,Expected,V2,V3,V4,V5,V6,V7,V8,...,V1066,V1067,V1068,V1069,V1070,V1071,V1072,V1073,V1074,V1075
0,3799,1644,2,76302,315.982463,4.592,40.46,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
1,6930,2451,2,12741,156.151415,3.852,17.07,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
2,7062,1384,2,23558,361.347528,9.912,0.00,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
3,1852,16,2,86418,255.052302,2.294,83.66,0.0,0.0,0.117851,...,0,0,0,0,0,0,0,0,0,0
4,7375,1856,2,5238,149.894242,1.050,0.00,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0

In [11]:
X = combined_df.drop(['Expected'], axis=1)
y = combined_df['Expected']

In [12]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

fvalue_Best = SelectKBest(f_classif, k=17)
X_kbest = fvalue_Best.fit_transform(X, y)
X_kbest

/opt/conda/lib/python3.7/site-packages/sklearn/feature_selection/_univariate_selection.py:115: UserWarning: Features [  29   30   32  199  200  202  203  227  237  244  250  258  259  261
  262  263  264  265  266  267  268  269  270  272  277  278  279  281
  282  283  284  285  286  287  288  289  291  292  293  294  295  296
  298  299  301  302  304  305  306  308  309  314  315  316  318  321
  322  323  328  329  330  333  334  335  336  337  356  360  361  362
  363  364  365  367  368  369  370  371  372  392  393  398  399  400
  403  405  406  407  416  417  418  423  426  427  428  429  430  431
  432  433  434  435  438  439  441  442  444  445  447  448  449  457
  458  459  460  461  462  463  464  465  466  467  468  470  473  474
  475  476  477  483  484  485  491  497  505  506  510  511  512  513
  514  515  516  517  518  519  520  521  597  619  621  658  919  922
  925  927  943  961  964  982  985  988  990 1006 1024 1027 1039 1040
 1041 1042 1044 1045 1046 1047 1048 1049 1050 1051 1053 1054 1057 1060
 1065 1066 1068 1069 1070 1071 1072 1074 1075] are constant.
  UserWarning)
/opt/conda/lib/python3.7/site-packages/sklearn/feature_selection/_univariate_selection.py:116: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

array([[1.64400000e+03, 3.15982463e+02, 4.59200000e+00, ...,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       [2.45100000e+03, 1.56151415e+02, 3.85200000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.38400000e+03, 3.61347528e+02, 9.91200000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.37300000e+03, 1.66986341e+02, 2.11500000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.00000000e+00, 1.28120115e+02, 3.15600000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.00000000e+00, 6.36486609e+02, 9.65000000e+00, ...,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00]])

In [13]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline

# define pipeline
over = SMOTE(random_state=2)
under = RandomUnderSampler()
steps = [('o', over), ('u', under)]
pipeline = Pipeline(steps=steps)


X_kbest, y = pipeline.fit_resample(X_kbest, y)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_kbest, y, test_size=0.05, random_state=42)

In [15]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
scaler.transform(X_train)
scaler.transform(X_test)

array([[-1.59621698, -0.91427887, -0.12548172, ..., -0.95326261,
        -0.72224117, -0.43591062],
       [ 0.73771357,  0.48530131,  0.12491594, ...,  1.09956115,
         1.46310469, -0.43591062],
       [ 0.29485432,  0.50954479,  0.48415987, ...,  1.09956115,
        -0.50657981, -0.1493908 ],
       ...,
       [ 1.49779994, -1.03335711, -0.30625009, ..., -0.95326261,
        -0.72224117, -0.43591062],
       [ 0.29740293, -0.67503951,  0.97461613, ...,  0.48293773,
         0.80667453,  1.595351  ],
       [ 0.44394821, -0.18889952,  0.40030873, ..., -0.95326261,
        -0.72224117, -0.43591062]])

In [16]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

# parameters = {'criterion':['gini','entropy'],
#               'splitter': ['best', 'random'],
#               'max_depth':[80,84]}

# model = DecisionTreeClassifier()

# clf = GridSearchCV(model, parameters, scoring='f1_macro', n_jobs=-1, cv=5)
# clf.fit(X_train, y_train)

In [17]:
# print("Training Score {}".format(clf.score(X_train, y_train)))
# print("Testing Score {}".format(clf.score(X_test, y_test)))
# from sklearn.metrics import f1_score
# y_pred = clf.predict(X_test)
# f1_score(y_test, y_pred, average='macro')

# print( clf.best_params_)

In [18]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import BaggingClassifier

# parameters = {'n_estimators':[250,270]}

# model = BaggingClassifier()

# clf = GridSearchCV(model, parameters, scoring='f1_macro', n_jobs=-1, cv=5)
# clf.fit(X_train, y_train)

In [19]:
# print("Training Score {}".format(clf.score(X_train, y_train)))
# print("Testing Score {}".format(clf.score(X_test, y_test)))
# from sklearn.metrics import f1_score
# y_pred = clf.predict(X_test)
# f1_score(y_test, y_pred, average='macro')
# print( clf.best_params_)

In [20]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier

# parameters = {'n_estimators':[850,950],
#              'learning_rate': [1.1, 1.0]}

# model = GradientBoostingClassifier()

# clf = GridSearchCV(model, parameters, scoring='f1_macro', n_jobs=-1, cv=5)
# clf.fit(X_train, y_train)

In [21]:
# print("Training Score {}".format(clf.score(X_train, y_train)))
# print("Testing Score {}".format(clf.score(X_test, y_test)))
# from sklearn.metrics import f1_score
# y_pred = clf.predict(X_test)
# f1_score(y_test, y_pred, average='macro')
# print( clf.best_params_)

In [22]:
from sklearn.ensemble import VotingClassifier, StackingClassifier
from xgboost import XGBClassifier
import lightgbm as lgb
# group / ensemble of models
estimator = []
estimator.append(('DT',DecisionTreeClassifier(criterion = 'entropy', max_depth = 84, splitter ='best')))
estimator.append(('BC', BaggingClassifier(n_estimators=250)))
estimator.append(('GB', GradientBoostingClassifier(learning_rate = 1.0, n_estimators=850)))
estimator.append(('XG', XGBClassifier(learning_rate=0.5, n_estimators=500)))
estimator.append(('LGM', lgb.LGBMClassifier(learning_rate=0.4, max_depth = 25, n_estimators= 70, num_leaves= 106)))

# Voting Classifier with hard voting


# clf = StackingClassifier(
# ...     estimators=estimators, final_estimator=LogisticRegression()
# ... )

vot_soft = VotingClassifier(estimators = estimator,  voting='hard')
vot_soft.fit(X_train, y_train)

/opt/conda/lib/python3.7/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[16:35:53] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

VotingClassifier(estimators=[('DT',
                              DecisionTreeClassifier(criterion='entropy',
                                                     max_depth=84)),
                             ('BC', BaggingClassifier(n_estimators=250)),
                             ('GB',
                              GradientBoostingClassifier(learning_rate=1.0,
                                                         n_estimators=850)),
                             ('XG',
                              XGBClassifier(base_score=None, booster=None,
                                            colsample_bylevel=None,
                                            colsample_bynode=None,
                                            colsample_bytree=None, gamma=None,
                                            gpu_id=None, impor...
                                            max_delta_step=None, max_depth=None,
                                            min_child_weight=None, missing=nan,
                                            monotone_constraints=None,
                                            n_estimators=500, n_jobs=None,
                                            num_parallel_tree=None,
                                            random_state=None, reg_alpha=None,
                                            reg_lambda=None,
                                            scale_pos_weight=None,
                                            subsample=None, tree_method=None,
                                            validate_parameters=None,
                                            verbosity=None)),
                             ('LGM',
                              LGBMClassifier(learning_rate=0.4, max_depth=25,
                                             n_estimators=70,
                                             num_leaves=106))])

In [23]:
print("Training Score {}".format(vot_soft.score(X_train, y_train)))
print("Testing Score {}".format(vot_soft.score(X_test, y_test)))
from sklearn.metrics import f1_score
y_pred = vot_soft.predict(X_test)
f1_score(y_test, y_pred, average='macro')

Training Score 0.9863938578439132
Testing Score 0.9517293233082706

0.9517274883579157

In [24]:
#Read test data

import pandas as pd
test_df = pd.read_csv('/kaggle/input/the-toxicity-prediction-challenge/test.csv', sep=',|;')
test_df.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

                x
88-60-8      1682
122931-48-0  1656
NOCAS_47311    36
55589-62-3   1850
79902-63-9     30

In [25]:
test_df.reset_index(inplace=True)
test_df = test_df.rename(columns={"index": "V1"})
test_df.head()

            V1     x
0      88-60-8  1682
1  122931-48-0  1656
2  NOCAS_47311    36
3   55589-62-3  1850
4   79902-63-9    30

In [26]:
feamat_df = pd.read_csv('/kaggle/input/the-toxicity-prediction-challenge/feamat.csv', sep=';|,')
df =  test_df.merge(feamat_df, on = ['V1'],how = 'left')
df.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,V1,x,V2,V3,V4,V5,V6,V7,V8,V9,...,V1066,V1067,V1068,V1069,V1070,V1071,V1072,V1073,V1074,V1075
0,88-60-8,1682,6937,164.120115,3.659,20.23,0.0,0.0,0.000000,0.068041,...,0,0,0,0,0,0,0,0,0,0
1,122931-48-0,1656,91779,431.056940,1.258,183.30,0.0,0.0,0.000000,0.151375,...,0,0,0,0,0,0,0,0,0,0
2,NOCAS_47311,36,53257735,695.250845,6.365,95.92,0.0,0.0,0.174792,0.789110,...,0,0,0,0,0,0,0,0,0,0
3,55589-62-3,1850,11074431,200.949810,-1.340,68.82,0.0,0.0,0.000000,0.058926,...,0,0,0,0,0,0,0,0,0,0
4,79902-63-9,30,54454,418.271924,4.775,72.83,0.0,0.0,0.000000,0.179152,...,0,0,0,0,0,0,0,0,0,0

In [27]:
df = df.replace([np.inf, -np.inf], np.nan)
print("Before Imputing Null value count is:")
print(df.isnull().any().sum())
df = df.fillna(0)
print("After Imputing Null value count is:")
print(df.isnull().any().sum())

Before Imputing Null value count is:
1
After Imputing Null value count is:
0

In [28]:
df['V1'] = encoder.transform(df['V1'])

In [29]:
X_important = fvalue_Best.transform(df)
#X_important = best_model.transform(df)

y_pred = vot_soft.predict(X_important)

In [30]:
test_df = pd.read_csv('/kaggle/input/the-toxicity-prediction-challenge/test.csv', sep=',')
output = pd.DataFrame({'Id': test_df["x"], 'Predicted': y_pred})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!